/* Begin Eric Meyer’s “Reset CSS” 2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:arial;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* End Eric Meyer’s “Reset CSS” 2.0 */

::selection {
	background: #1C8FE1; /* Safari */
	}
::-moz-selection {
	background: #1C8FE1; /* Firefox */
}

body {
	background-color: black;
	color: white;
	font-family: 'calibri', sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 70px;
	margin-top: 40px;
	margin-bottom: 40px;
	cursor: default;
}

h2 {
}

h3 {
	text-align: left;
	padding-left: 20px;
}

p {
	margin-top: 20px;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#mainBlock {
	width: 920px;
	height: 1000px;
	margin: 0px auto;
	text-align: center;
	border-color: red;
	border-width: 20px;	
	/*background-color: red;*/
}

#header {
	height: 200px;
	text-align: left;
	/*background-color: green;*/
}

#menu {
	width: 150px;
	height: 400px;
	/*background-color: grey;*/
	position: absolute;
}

div#menu > ul li {
	text-align: left;
	padding: 10px 0px;
	color: #999;
}

div#menu > ul li:hover {
}

.mainText {
	width: 770px;
	height: 600px;
	margin: 0px auto;
	float: right;
}

.mainText a {
	color: #1C8FE1;
	text-decoration: underline;
}

.mainText a:hover {
	color: #E1899F;
}

.mainText p {
	text-align: justify;
	padding-left: 20px;
}

.mainText li {
	text-align: left;
	padding-left: 20px;
	line-height: 150%;
	margin: 10px;
}

.mainText li:before {
	content: " - ";
}

.post-container {        
    	overflow: auto;
	margin-bottom: 15px
}
.post-thumb {
	margin-left: 20px;
    	float: left
}
.post-thumb img {
    display: block
}
.post-content {
	margin-top: 0px;
    	margin-left: 230px;
	margin-top: -4px;
	text-align: left;
	line-height: 150%;	
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
